* {
    padding: 0px;
    margin: 0px;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    color: bisque;
}

#jogo {
    position: relative;
    background-color: rgb(0, 200, 0);
    height: 800px;
    width: 800px;
    margin: auto;
    margin-top: 3%;
    border: 1px solid rgba(0, 0, 0, 0.639);

}

#pontuacao {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.869);
    color: white;
    height: 40px;
    margin: auto;
}

#personagem {
    position: relative;
    background-color: red;
    height: 40px;
    width: 40px;
    left: 0;
    top: 0;
}